<!DOCTYPE html>

<html>
<head>
    <meta charset="utf8" @RenderSection("meta", required: false) />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="/Res/css/foundation.css" />
    <link rel="stylesheet" href="/Res/css/app.css" />
    @RenderSection("styles", required: false)
</head>
<body>
    @RenderBody()

    <script src="/Res/js/vendor/jquery.js"></script>
    <script src="/Res/js/vendor/foundation.min.js"></script>
    <script src="/Res/js/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
